.App {
   text-align: center;
   width: 400px;
   height: 300px;
   background-color: #ffe8d6;
   border: 8px solid #6b705c;
   color: #a5a58d;
   margin: 7% auto;
}
p {
   font-weight: 900;
}

button {
   width: 100px;
   height: 32px;
   margin-top: 15px;
}
